* {
    padding: 0;
    margin: 0;
}

.icon {
    background: white;
    position: fixed;
    bottom: 15%;
    right: 2%;
    border-radius: 46%;
    overflow: hidden;
    width: 60px;
    height: 61px;
}

.icon img {
    width: 100%;
}

.point {
    padding-left: 60px;
    color: aliceblue;
    text-decoration: none;
}

.nav1 {
    margin: 0%;
    color: transparent;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 3%;
    left: 63%;
}

.main-head {
    background: url('https://images.squarespace-cdn.com/content/v1/57879a6cbebafb879f256735/1667226425853-GFTZP1P5PWAME97VPC6M/AD011219-21_original.jpg');
    height: 689px;
    /* width: 100%; */
}


.row2 {
    overflow: hidden;
    height: 300px;
}

.row2 img {
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-color: rgb(19, 18, 18);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.col1:hover {
    background-color: rgb(30, 31, 30);
}

.col1 h2 {
    color: white;
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid white;
    border-radius: 40px;
    padding-inline: 20px;
    width: 250px;
}

.col1 .imgd img {
    border-radius: 30px;
    margin: 20px;
    width: 200px;
    height: 200px;
}

button {
    height:33px ;
    width: 100px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}

.row1 {
    float: left;
    margin: 30px;
    list-style: none;
    padding: 30px;
}

